html{
  scroll-behavior: smooth; 
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 'Roboto Mono', monospace;;
    color: #777;
  }  



.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url(Stuff/nasa-89125-unsplash2.jpg);
    height: 100%;
  }

.bgimg-2{
      background-image: url(Stuff/markus-spiske-666905-unsplash.jpg);
      height: 100%;
  }

.bgimg-3{
      background-image: url(Stuff/sandeep-swarnkar-235646-unsplash.jpg);
      height: 100%
  }

.bgimg-4{
    background-image: url(Stuff/juan-gomez-674574-unsplash.jpg);
    height: 100%
}

.bgimg-5{
  background-image: url(Stuff/jean-gerber-264160-unsplash.jpg);
  height: 100%
}

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    display: flex;
    /*flex-flow: row wrap;
    justify-content: flex-end;*/
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    margin: auto;
    
    /*flex-flow: row wrap;*/
    /* This aligns items to the end line on main-axis */
    /*justify-content: flex-end;*/
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px 'Roboto Mono', monospace;
    color: #111;
  }

  .d-flex {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
    display: flex;
  }
  
  .d-flex span.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    margin: auto;
  }

  .nav.justify-content-center.fixed-top.scrolling-navbar{
      background-color: #fff;
  }

.mask{
  background-color: rgba(0, 0 , 0, 0.3)
}

.a{
  color: blueviolet
}